.selection-list{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin-top: .5rem;
    padding-top: 0.5rem;      
    
    .selection-item{
        // flex: 50%;  
        padding: .5rem;
    }
}