.comparison-panel{
    padding: 0px;
}
.comparison-select-mode{
    position: sticky;
    top: -15px;
    background-color: var(--popup-bg);
    .tab-header-wrap{
        background-color: unset;
        border-radius: unset;      
        .tab-header{
            padding: 0.5rem 0 !important;
            font-size: 1rem;           
        }
        .tab-item-header{
            background-color: unset !important;
            color: unset !important;
            border-radius: 0px !important;
            box-sizing: border-box;
            position: relative !important;
            &::after{
                content: '';
                width: 0px;
                display: block;
                position: absolute;
                bottom: 0;
                height: 2px;
                background: transparent;
                transition: width .5s ease, background-color .5s ease;
            }
            &.active::after{
                width: 100%;
                background:var(--tertiary);
            }
        }
    }
}
.btn-add-period{   
    margin: 0 .5rem;
}