$font-base-responsive: true !default;
$font-base-int: 16 !default;
$font-base: 16px !default;

$font-base-sm: null;
$font-base-md: null;
$font-base-lg: null;
$font-base-xl: null;

@if $font-base-responsive {
    $font-base-sm: 12.5 !default;
    $font-base-md: 13.6 !default;
    $font-base-lg: 14 !default;
    $font-base-xl: 16 !default;
}

$font-base-sm: $font-base-int !default;
$font-base-md: $font-base-int !default;
$font-base-lg: $font-base-int !default;
$font-base-xl: $font-base-int !default;
