.list_question{
    overflow: hidden;
    transition: .3s max-height ease;
    &.expand {
        max-height: 7rem;
    }
    &.non-expand {
        max-height: 0px;
    }
}

.d-none{
    display: none;
}

.absolute-t50-l{
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}