.search-tag-bar{
    padding: 5px 0;  
    display: flex;  
    span{
        margin-top: 5px;
    }
    button{
        cursor: pointer;
    }
    .tag-container{
        line-height: 0.9375rem;
    }
}