.ptv-container {
    padding: 0.1rem;
    margin-right: 0.5rem;

    .ptv-child-container {
        padding: 0.5rem;
        margin-right: 0.5rem;

        .ptv-child-node-container {
            margin-right: 0.5rem;
        }
    }
}

.node-item-container {
    .panel-header-switch {
        background: transparent;
        
        h3 {
            font-weight: normal;
        }
        .switch-toggle{
            cursor: pointer;
            
            &.disable{
                cursor: default;
            }
        }
    }
}

.node-item-header-container {
    border-bottom: 1px solid var(--border);
    // padding: 14px 0px 4px 2px;
    padding: 8px 0px 8px 2px;

    .node-item-header-icon {
        width: 1rem;
    }

    .node-item-header-text {
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        margin-left: 0.5rem;
        cursor: pointer;
    }
}

.node-item-child {
    padding-left: 16px;
}

//style popper help
.node-item-header-container{
    cursor:default;
    & > div{
        display: inline-flex;
        align-items:center;

        & + span{
            width: 2rem;
            text-align: center;
            cursor: pointer;
            &:hover{
                color: var(--primary)
            }
        }
    }
}
.popper-help{
    margin-left: 80px; //important

    .tooltip-arrow {
        left: -80px !important; //important
    }
}
.help-form{
    min-width: 200px; //important
    max-width: 300px;
    max-height: 155px;
    padding: 5px;
    box-sizing: border-box;

    .link{
        margin: 0.5rem 0;
        color: var(--button-color);
        background-color: var(--info-color);
        border-radius: 0.25rem;
        display: inline-flex;
        align-items: center;
        cursor: default;
        text-decoration: none;
        
        span{
            padding: 1px 1rem 0;
            font-weight: 400;
        }
        i{
            font-size: 1rem !important;
            padding: 0.5rem 0.5rem 0.5rem 0.7rem;
            cursor: pointer;
            background-color: var(--base-lighter) !important;
            &:hover{
                background-color: rgba(var(--base-color-rgb),0.2) !important;
            }
        }
    }
}
