.report-wrapper
{
    margin: 0 1rem;
    background: var(--contrast-light);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
.report-empty-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}