.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 32px;
    height: 80%;
    justify-content: center;

    .login-logo {
        display: flex;
        padding: 16px 16px 80px;
    }

    .login-button {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px !important;
        min-width: 320px !important;
        transition-property: transform;
        transition-duration: 220ms;
        border-radius: 4px;
        padding: 8px 18px;
        font-weight: 500;
    }
}

.login-full-height-cover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.4);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../images/bgLogin.jpg") !important;
}
