.statistic {
    margin: 0 auto;
    margin-top: 5rem;
    position: relative;
    .block-item {
        margin: 0.3rem;
        padding: 1rem;
        border-radius: 0.5rem;
        transition: 0.2s ease;
        background-color: var(--base-color);
        .title {
            font-size: 10px;
            font-weight: 500;
            color: var(--base-color);
            text-transform: uppercase;
        }
        .count {
            font-size: 25px;
            color: var(--base-color);
            font-weight: 400;
        }
        .more-in4 {
            padding: 5px 8px;
            border-radius: 1rem;
            font-size: 12px;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            background: var(--base-color);
            color: black;
        }
    }
    .line{
        margin-right: 5px;
        width: 70%;
    }
    .donut{
        margin-left: 5px;
        width: 30%;
    }
    .bg-project {
        background: linear-gradient(332deg, #f2709c, #ff9472);
    }
    .bg-topic {
        background: linear-gradient(332deg, #2bc0e4, #eaecc6);
    }
    .bg-question {
        background: linear-gradient(332deg, #1d976c, #93f9b9);
    }
    .bg-feedback {
        background: linear-gradient(332deg, #f09819, #fff6a6);
    }
    .block-item:hover {
        box-shadow: 0 1px 3px 0 #cbcbca, 0 4px 8px 3px #c1c1c1;
    }
    .responsive-grid-item {
        max-width: 25% !important;
        border: none;
    }
    .change-year{
        position: absolute;
        top: -6.5%;
        right: 0%;
        width: auto;
        min-width: 150px;
    }
}
