.statusItem {
    position: relative;
    display: flex;
    transition: all 0.3s;
    color: var(--gray);

    &:hover {
        color: var(--white);
    }

    .checkbox-form {
        margin-bottom: 0.85rem;

        .checkbox-label {
            margin-left: 2rem;
        }
    }
}
.filterdate{
    margin-left: 5px;
    color: var(--primary);
}

.btn.job-assignee {
    padding-left: 0;
    color: var(--text-color-dark);
    span{
        margin: 0 3px !important;
    }
    &:hover {
        background-color: transparent !important;
    }

    &.assigned span:hover {
       color: var(--text-color);
    }

    &.unassigned {
        cursor: auto !important;
    }
}


.tli-container {
    .tli-node-root {

        &.tli-node-label {           
            font-size: 1rem;
        }
    }

    .address {
        color: var(--text-color-dark);
    }
}
.tli-root{
    .tli-node{    
        .tli-node-root{
            background-color: var(--contrast-light);
            border-top: 1px solid var(--border);
            border-bottom: 1px solid var(--border);
            padding-left: 10px !important;
        }
    }
}

