
.section-header {    
    color: inherit;
}
.section-collapse-panel{
    &.legend-overlay{    
        border-bottom: 1px dotted var(--border);        
        .section-panel{            
            .section-header{            
                padding: .5rem;            
                border: 1px dotted var(--border);
                background-color: rgba(var(--contrast-color-rgb),.1);
            }
        }
        .section-panel-body{
            padding: .5rem;
            background: rgba(var(--base-color-rgb),.8);
            border: 1px dotted var(--border);
            border-top: 0;
            border-bottom: 0 ;
        }
    }
}
