.ai-container {
    .ai-image-container {
        text-align: center;
        padding: 1.5rem 4.5rem 0 4.5rem;
        .ai-photo {      
            img{
                width: 6rem;
                height: 6rem;
                border-radius: 50%;           
            }
        } 
    }


    .sub1.ellipsis {
        width: 20rem;
        text-align: center;
    }
}