.card {
    position: relative;
    .icon {
        position: absolute;
        left: -7%;
        top: 50%;
        transform: translateY(-50%);
    }
    .card-inner {
        border-bottom: 0.0625rem solid #ababab;
        margin-bottom: 1rem;
    }
}
