.mini-detail {
    padding: 1rem;
    width: 90%;

    .sub1 {
        font-weight: 600;
    }
}

.circle-color,
.mini-detail-item-title {
    float: left;
    margin-right: 0.5rem;
}

.mini-detail-item-number,
.mini-detail-item-subTitle,
.mini-detail-item-percent {
    float: right;
    margin-left: 0.2rem;
}

.mini-detail-item-percent, .mini-detail-item-subTitle {
    color: var(--text-color-dark);
}

.job-successed {
    background-color: cadetblue;
}

.job-failed {
    background-color: red;
}

.mini-detail-item {
    display: flow-root;
    padding: 0.2rem 0 0.2rem 0;
}

.mini-detail-analystics {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid thistle;
    border-bottom: 1px solid thistle;
    display: flow-root;
}

.text-change {
    border-radius: 3px;
    padding: 0 5px;
    animation: textLight 4000ms ease-out;
    animation-fill-mode: forwards;
}

@keyframes textLight {
    from {
        background-color: rgba(238, 255, 0, 0.925);
    }
}
