.tab-bar {
    background-color: var(--panel-header-bg) !important;

    .tab-header {
        .tab-item-header {
            margin: 0 0.5rem;
        }
    }
}

.dashboard-container {
    height: 100%;
    display: flex;

    .counter-position {
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 2;
    }

    .dashboard-right {
        .bar-content {
            padding: 1rem 1.5rem;
            position: relative;

            .fa-chevron-down {
                font-weight: 900;

                &:before {
                    content: "\f0d7";
                    color: var(--text-color);
                }

            }
        }
    }


}
