.statusItem {
    position: relative;
    display: flex;
    transition: all 0.3s;
    color: var(--gray);

    &:hover {
        color: var(--white);
    }

    .checkbox-form {
        margin-bottom: 0.85rem;

        .checkbox-label {
            margin-left: 2rem;
        }
    }

    .icon {
        position: absolute;
        left: 1.6rem;
        top: 0.2rem;
    }
}

.history{
    &.border-panel:after {
        position: absolute;
        display: block;
        content: '';
        width: 3px;
        height: 100%;
        box-shadow: var(--panel-split);
        right: -3px;
        top: 0;
        z-index: 1;
    }
}

.history-timeseries{
    height: auto;
    margin-top: auto !important;
    border-top: 0.1rem solid var(--border);
}
