.tracking-stop-marker {
    width: 3.5rem;
    height: 2rem;
    background: var(--background-color);
    border-radius: 0.25rem;
    text-align: center;
    line-height: 2rem;
    border: 0.1rem solid #233041;
    color: black;
    font-weight: 600;
    font-size: 1rem;

    &.start {
        background: #5c7533;
        color: var(--color-text);
    }

    &.end {
        background: #8a3245;
        color: var(--color-text);
    }

    &.start-route {
        background: #99cc4f;
        color: var(--color-text);
    }

    &.end-route {
        background: #e4637f;
        color: var(--color-text);
    }

    &:hover {
        cursor: pointer;
    }
}

