.tracker-popup {
    .popup-label-icon {
        display: flex;
        align-items: center;
        width: 100%;

        i {
            flex-basis: 20px;
        }

        span {
            flex-shrink: 1
        }
    }

    .popup-label {
        flex: 0 0 6rem !important;
        flex-direction: column;

        .tracking-marker {
            border: 2px solid;
            background-color: #e4e4e4;
            border-radius: 50%;
            box-sizing: border-box;
            margin: 10px; // show heading rotate
            height: 48px;
            width: 48px;
            align-items: center;
            display: flex;
            justify-content: center;
            text-align: center;
            text-transform: lowercase;
            line-height: initial;
        }

    }

    .popup-info {
        flex-direction: column;
        align-items: flex-start;

        h6 {
            font-weight: normal;
            color: rgba(var(--text-color-rgb), 0.6);

            &:nth-child(1) {
                font-weight: 500;
            }
        }
    }
}
