.history-middle-marker {
    width: 1rem;
    height: 1rem;
    background: var(--primary-color);
    border-radius: 0.25rem;
    text-align: center;
    line-height: 1rem;
    border: 0.1rem solid;
    color: #ffffff;

    &.start {
        background: green;
    }

    &.end {
        background: red;
    }
}
