.search-bar {
    position: relative;
    border-radius: 2rem;
    background-color: var(--base-color);
    display: flex;
    align-items: center;
    padding: 0;
    flex-direction: row !important;
    flex: none !important;
    .input {
        padding-left: 18px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-right: 12px;
        flex: 1;
        font-size: 14px;
        &::placeholder {
            color: black;
        }
    }
    .icon {
        &:hover {
            background-color: var(--light-gray) !important;
        }
        padding-right: 21px;
        padding-left: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        transition: all 200ms ease-out;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 96px;
        border-bottom-right-radius: 96px;
        border: 1px solid var(--light-black);
        border-left: 0;
        font-weight: 500;
    }
    .active {
        background-color: var(--black) !important;
        outline: white !important;
        color: white !important;
    }

    .suggestion {
        background-color: var(--base-color);
        position: absolute;
        top: 3rem;
        left: 0%;
        width: 90%;
        z-index: 990;
        max-height: 10rem;
        overflow: auto;
        border-radius: 0 0 1rem 1rem;
        box-shadow: 0 1px 2px 0 #a7a7a7, 0 0px 0px 0px #b9b9b9;
        .hd6 {
            font-size: 1rem;
            font-weight: 400;
            color: #838383;
        }
        .suggest-item {
            cursor: pointer;
            padding: 5px 15px;
            transition: .2s all;
            .icon {
                font-weight: 500;
                margin-right: 8px;
            }
            &:hover{
                background-color: rgb(243, 243, 243);
            }
        }
    }
}
.focus{
    border-bottom-left-radius: 0px;
}