.map-item-dropdown{   
    padding-bottom: 4px;
    .map-item-dropdown-info{
        flex :8;
        .tb1{
            font-size: 1rem;
            font-weight: 500;
        }

        .tb2{
            font-size: 1rem;
            }
    }

    .map-item-dropdown-action{
        flex:1 1;
        padding: .5rem;
        .action-button{
            background: rgba(var(--contrast-color-rgb),.1);
            color: rgba(var(--text-color-rgb),.8);
        }

    }   

}
.item-dropdown-command-container{    
    font-style: italic;
    padding: .5rem 0;   
    .item-dropdown-command-content{

    }
}
.btn-add-fields{
    margin: 0.5rem 0;
    font-weight: bold;
    &:hover{
        background-color: var( --contrast-light)!important;
    }
}
