.wli-toggle-panel {
    cursor: pointer;
    .toggle-content-cover {
        padding-left: 24px;

        &.device:hover {
            color: var(--contrast-color);
        }
    }

    .control {
        .control-icon {
            width: 24px;
            height: 24px;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 24px;
        }
    }
}

