.color-picker {
    cursor: pointer;
    position: relative;
    height: calc(1.5rem);
    width: calc(1.5rem);
    border: 1px solid #fff;

    &.disabled {
        opacity: 0.5;

        &:hover {
            cursor: not-allowed !important;
        }

        &:hover::after {
            display: unset;
            content: unset;
            background: unset;
            position: unset;
            width: unset;
            height: unset;
            top: unset;
            left: unset;
            border: unset;
            box-shadow: unset;
            z-index: unset;
        }
    }

    &.selected:after, &.selected.disabled:after, &:hover::after {
        display: block;
        content: '';
        background: inherit;
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: -0.25rem;
        left: -0.25rem;
        border: 2px solid #fff;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px 0;
        z-index: 92;
        box-sizing: border-box;
    }
}

.icon-chooser {
    cursor: pointer;
    position: relative;
    height: calc(2rem - 3px);
    width: calc(2rem - 3px);
    line-height: 1.5rem;
    padding: 2px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid transparent;

    &.disabled {
        opacity: 0.5;

        &:hover {
            cursor: not-allowed !important;
            border: 1px solid transparent;
        }
    }

    &:hover {
        border: 1px solid var(--primary-color);
    }

    &.selected {
        color: white;
        background: var(--primary-color);
    }
}
