.loading-permission{
    left: -3.75rem;
    span{
        display: none;
    }
    &.progress-bar {
        background-color: var(--bg-light);
        margin: 0!important;
        height: 4px!important;
        position: absolute;
        z-index: 99999;
    }
    &.progress-bar .progress-bar-value {
        background-color: var(--primary);
        height: 4px!important;
    }
    &.overload.progress-bar .progress-bar-value {
        position: absolute;
        top: 0;
        left: 0;
        background-image: -webkit-linear-gradient(-45deg, var(--primary-light) 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, var(--primary-light) 50%, var(--primary-light) 75%, rgba(255, 154, 26, 0) 75%);
        background-image: -moz-linear-gradient(-45deg, var(--primary-light) 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, var(--primary-light) 50%, var(--primary-light) 75%, rgba(255, 154, 26, 0) 75%);
        background-image: -o-linear-gradient(-45deg, var(--primary-light) 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, var(--primary-light) 50%, var(--primary-light) 75%, rgba(255, 154, 26, 0) 75%);
        background-image: linear-gradient(-45deg, var(--primary-light) 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, var(--primary-light) 50%, var(--primary-light) 75%, rgba(255, 154, 26, 0) 75%);
        background-color: var(--primary)!important;
        background-size: 50px 50px;
        -webkit-animation: move 2s linear infinite;
        -moz-animation: move 2s linear infinite;
        -o-animation: move 2s linear infinite;
        animation: move 2s linear infinite;
    }
    
    @-webkit-keyframes move {
        to { background-position: 50px 50px; }
    }
     
    @-moz-keyframes move {
        to { background-position: 50px 50px; }
    }
     
    @-o-keyframes move {
        to { background-position: 50px 50px; }
    }
     
    @-webkit-keyframes move {
        to { background-position: 50px 50px; }
    }
}

