.upload-image-control {
    .upload-button{
        border-right: 0 0 0 0.7px var(--border);
    }
    .upload-image-name{
        pointer-events:none;
    }
}
.zoom-upload-image-contanier{
    padding: 20px
}

.icon-image {

    justify-content: center;
    align-items:center;
    display: flex;
    margin: 0 4px;
    width: 1.4rem;

    .image-zoom{
        right:-8px
    }
}
.icon-loading {
    justify-content: center;
    align-self:center;
    display: flex;
    margin: 0 4px;
    text-align: center;
    width: 1.4rem;
}