.banner{
    width: 100%;
    background-image: url('../../../assets/image/banner.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 340px;
    .banner-inner{
        height: 100%;
    }
}