.Add {
    color: #0188ff;
}

.Update {
    color: #ffc107;
}

.Delete {
    color: #ff253a;
}

.cell-after {
    vertical-align: top;
    padding-left: 5% !important;
    text-align: left !important;
    white-space: pre-wrap !important;
}

.log {
    padding-left: 10px;
}

.new {
    background-color: #0188ff7a;
}

.delete {
    background-color: #d73c427a;
}
