.ml-large-ui .ml-directions-searchbox {
    width: 360px;
    left: 10px;
    top: 10px;
}

.visible .ml-directions-searchbox {
    display: block;
}

.ml-directions-searchbox-parent .ml-directions-searchbox {
    position: relative;
    z-index: 30;
}

.ml-directions-searchbox {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    border: none;
    transition: transform 0.3s, visibility 0.3s;
    transform: translateY(0);
}

.ml-directions-searchbox-top-content {
    z-index: 31;
    position: relative;

    .ml-directions-left-panel {
        position: absolute;
        top: 0px;
        width: 50px;
    }

    .ml-directions-icon {
        height: 30px;
        padding: 8px;
        cursor: pointer;
        transition: opacity 0.3s;
    }

}

// end .ml-directions-searchbox-top-content
.ml-directions-searchbox-top-header {
    width: 100%;
    height: 33px;

    button {
        box-sizing: content-box;
        position: absolute;
        cursor: pointer;

        padding: 8px;
        width: 24px;
        height: 24px;

        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }
}

.ml-directions-button-left {
    left: 0px;
    margin: 0 5px;
}

.ml-directions-button-right {
    right: 0px;
    margin: 0 5px;
}

.ml-directions-label {
    position: absolute;
    vertical-align: middle;
    left: 8px;
    height: 33px;
    line-height: 33px;
    font-weight: 400;
    color:var(--text-color);
    cursor: default;
    white-space: nowrap;
}

.ml-directions-waypoints-wrapper {
    position: relative;

    .ml-directions-center-panel {
        padding: 1rem 45px 1rem 1rem;
        background: var(--contrast-light);
    }

    .ml-directions-right-panel {
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
    }

}

.ml-directions-center-panel .ml-directions-waypoints {
    .ml-waypoint-wrapper{
        padding: 0.25rem 0;
        box-sizing: border-box;

        .ml-waypoint-searchbox {
            margin: 0;
            vertical-align: middle;
            border: none;
            background-color: transparent;
            cursor: text;

            input {
                margin: 0;
                width: 100%;
                height: 2.5rem;
                font-size: 1rem;
                color: var(--text-color);

                text-overflow: ellipsis;
                padding: 0 40px 0 10px;
                box-sizing: border-box;
                border-radius: 20px;
                outline: none;
                background: var(--base-highlight);
                border: 1px solid var(--border);
                transition: all .3s;

                &::placeholder {
                    color: var(--text-color-light);
                }

                &:focus {
                    background: var(--contrast-highlight);
                    border: 1px solid var(--primary-color);
                    color: var(--contrast-color);
                }
            }
        }
    }

    .gsst_a {
        position: absolute;
        right: 0;
        margin: 0.5rem;
        cursor: pointer;
        padding: 0 5px;
        display: inline-block;
        color: var(--contrast-color);

        .icon-clearText {
            cursor: pointer;
            z-index: 100;
            background: transparent;
            border-radius: 50%;

            &:hover {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }

    .gsst_b {
        padding: 0;
        position: relative;
        user-select: none;
        white-space: nowrap;
    }

    .sbib_b {
        box-sizing: border-box;
        height: 100%;
        overflow: hidden;
        border: 0;
        outline: none;
    }

    .sbib_c {
        float: right;
        line-height: 0;
        display: table-cell;
    }
}

.ml-directions-right-panel {
    button.ml-directions-icon{
        width: 40px;
        height: 40px;
        margin-right: 5px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        transition: opacity 0.3s;


        svg {
            fill: var(--contrast-color);
            opacity: 0.9;

            &:hover {
                opacity: 1;
            }

            &.vbdicons_dele_point {
                fill: var(--contrast-highlight);
            }

            &.vbdicons_add_point {
                fill: var(--primary-color);
            }
        }

        &.ml-directions-btn-close {
            height: 40px;
            padding: 8px 16px;
            cursor: pointer;
        }

    }

}

.ml-icon.ml-icon-back.ml-icon-white-variant {
    background-image: url(//maps.gstatic.com/mapfiles/maps_lite/images/2x/ic_arrow_right_white_24dp.png);
}

.ml-icon.ml-icon-settings-dots.ml-icon-white-variant {
    background-image: url(https://maps.gstatic.com/mapfiles/maps_lite/images/2x/ic_menu_white_24dp.png);
}

.ml-directions-searchbox .sbcb_a, .ml-icon {
    display: inline-block;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    margin: auto;

}

.ml-directions-searchbox .sbcb_a {
    color: transparent !important;
    position: relative;
}
