.marker {
    width: 28px;
    height: 38px;
    font-size: 12px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.marker i {
    line-height: 14px;
    width: 16px;
    height: 16px;
    padding: 6px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    display: block;
    vertical-align: middle;
}

.marker {
    background-image: url('../../../images/poi.svg');
}

.marker-start {
    background-image: url('../../../images/poi-green.svg');
}

.marker-middle {
    background-image: url('../../../images/poi-cyan.svg');
}

.popup-route {
    cursor: pointer;
    position: relative;
    color: var(--text-color);

    .popup-route-header {
        display: flex;
        height: 1.5rem;
        padding: 0.25rem 0;

        .ml-icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.5rem;
        }

        .popup-marker-duration {
            font-weight: 500;
            padding: 0.25rem 0;
            color: var(--text-color);
        }
    }

    .popup-route-detail {
        color: var(--text-color-dark);
    }
}
