.dir-header {
    background-color: var(--panel-header-bg);
    color: var(--warning-color);

    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}

.dir-guide {
    padding-bottom: 2rem;

    .dir-stop {
        padding: 0.5rem 1rem;

        .dir-stop-title {
            font-weight: 500;
            font-size: 1rem;
            color: var(--contrast-color);
            margin-bottom: 0.25rem;
        }

        .dir-stop-sub {
            color: var(--text-color-dark);
        }
    }

    .dir-no-step {
        padding: 2rem;
        color: var(--secondary);
        background: var(--secondary-light);
    }

    .dir-step-icon {
        width: 20px;
        height: 20px;

        &.direction_updown {
            background-image: url('../../../images/direction-icons/svg/direction_updown.svg');
        }

        &.direction_continue {
            background-image: url('../../../images/direction-icons/svg/direction_continue.svg');
        }

        &.direction_continue_straight {
            background-image: url('../../../images/direction-icons/svg/direction_continue_straight.svg');
        }

        &.direction_turn_straight {
            background-image: url('../../../images/direction-icons/svg/direction_turn_straight.svg');
        }

        &.direction_turn_slight_right {
            background-image: url('../../../images/direction-icons/svg/direction_turn_slight_right.svg');
        }

        &.direction_turn_right {
            background-image: url('../../../images/direction-icons/svg/direction_turn_right.svg');
        }

        &.direction_turn_sharp_right {
            background-image: url('../../../images/direction-icons/svg/direction_turn_sharp_right.svg');
        }

        &.direction_uturn {
            background-image: url('../../../images/direction-icons/svg/direction_uturn.svg');
        }

        &.direction_turn_sharp_left {
            background-image: url('../../../images/direction-icons/svg/direction_turn_sharp_left.svg');
        }

        &.direction_turn_left {
            background-image: url('../../../images/direction-icons/svg/direction_turn_left.svg');
        }

        &.direction_turn_slight_left {
            background-image: url('../../../images/direction-icons/svg/direction_turn_slight_left.svg');
        }

        &.direction_arrive_straight {
            background-image: url('../../../images/direction-icons/svg/direction_arrive_straight.svg');
        }

        &.direction_turn_straight {
            background-image: url('../../../images/direction-icons/svg/direction_turn_straight.svg');
        }

        &.direction_roundabout {
            background-image: url('../../../images/direction-icons/svg/direction_roundabout.svg');
        }

        &.direction_depart_straight {
            background-image: url('../../../images/direction-icons/svg/direction_depart_straight.svg');
        }

        &.direction_rotary {
            background-image: url('../../../images/direction-icons/svg/direction_rotary.svg');
        }

        &.direction_turn_straight {
            background-image: url('../../../images/direction-icons/svg/direction_turn_straight.svg');
        }

        &.direction_arrive {
            background-image: url('../../../images/direction-icons/svg/direction_arrive.svg');
        }
    }
}
