.content {
    display: block;

    .row-content {
        margin-bottom: 2rem;

        .col-content {
            padding-left: 1rem;
            padding-right: 1rem;
            .post-widget .item {
                margin: 0;
            }
        }

        .col-content:first-child {
            padding-left: 0;
        }

        .col-content:last-child {
            padding-right: 0;
        }

        // &:first-child {
        //     margin-top: 2rem;
        // }
    }
}

.image-button {
    width: 100% !important;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
    background: linear-gradient(to right, #c02425, #f0cb35);
    color: #fff;
    height: 100%;

    &:hover {
        border: 1px solid #c02425;
    }
}
.button-pc-covid {
    padding: 0;
    overflow: hidden;

    .image-container {
        width: 100%;
        position: relative;
    }
}


.button-chi-dao {
    background-image: url(../../../../images/images5399581_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.button-duong-day-nong i {
    vertical-align: middle;
    margin-right: 1rem;
}
