.time-group-by {
    padding:0 1rem;
    background-color: transparent;
    .tab-header-wrap {
        background-color: var(--contrast-highlight);
        border-radius: 1.5rem;
        padding-left: 2rem;
        .tab-header{
            .tab-item-header {

                margin: 0 0.5rem;
                height: 1.0875rem;
                &:hover{
                    background: none;
                    color: var(--primary-color);
                }
                &.active{
                    background: none;
                    font-weight: 600;
                }
            }
        }
    }
}

.bar-content {
    display: flex;
    .year-filter{
        align-self:flex-start;
        margin-left: 1rem;
        .as-control-container{
            background: var(--primary-color);
            margin-right: 2px;
            border: none;
            border-radius: 1.5rem;
            width: 125px;
            padding: 0 1.5rem;
            .dropdown-btn{

                .dropdown-btn-text{

                    border-top-left-radius: 1rem;
                    border-bottom-left-radius: 1rem;
                }
            }
        }
    }
    .hide-arrow{
        .as-container-disabled{
            .arrow{
                display: none;
            }
            .dropdown-btn-text{
                text-align: center;
            }
        }
    }
    .paging-detail{
        position: absolute;
        right: 1rem;
    }
}
