@import "../../../pages/Home/OGNLHome.scss";
.footer-container {
    margin: auto;
    display: block;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 103, 1) 35%, rgba(0, 212, 255, 1) 100%);
    box-shadow: 0 -1rem 1rem rgb(190, 187, 187);
    &.fullwidth {
        @include fullwidth();
    }
    &.fixedwidth {
        @include fixedwidth();
    }
}

.footer {
    display: block;
    color: white;
    margin: auto;
    text-align: center;
    padding: 1rem;
    &.fullwidth {
        @include fullwidth();
    }
    &.fixedwidth {
        @include fixedwidth();
    }
}
