 .manager-panel{
    .pagination{
        li{
           background: var(--light);
           border: 0.075px solid var(--line);
           &.disabled{
               background-color: var(--light-dark);
               border-color: var(--light-dark);
           }
           &.active{
               color: var(--white);
               background-color: var(--info);
               border-color: var(--info);
           }
           .fas{
               font-weight: 500!important;
           }
        }
    }

    .nav-menu{
       align-items: stretch;
       height: 40px;
       color: var(--text-color);
       border-bottom: 0.1rem solid var(--line);
       box-sizing: border-box;
       li{
           padding: 0 2rem;
           font-size: 0.875rem;
           text-transform: uppercase;
           font-weight: bold;
           display: flex;
           align-items: center;
           &.active {
               color: var(--info);
           }
       }
   }

   .manager-tool {
       padding: 1rem;
       display: flex;
       align-items: center;

       .btn-add {
           box-shadow: none;
           background: #a5cd4e !important;
           margin-right: 1rem;
       }

       .search-box {
           margin: 0;
           .search-field {
               color: white;
               box-shadow: none;
               border: 1px solid #75879d;
               background-color: #75879d;

               &:focus {
                   border: 1px solid #75879d;
                   background-color: var(--light);

                   & + .search-btn {
                       color: white;
                   }
               }
           }

           .search-btn {
               color: rgba(255, 255, 255, 0.4);

               &.clear-text {
                   color: white !important;

                   &:hover {
                       background-color: rgba(0, 0, 0, 0.2);;
                   }
               }
           }
       }
   }
   .grid-data-tool{
       padding-top: 0px!important;
   }

   .grid-data{
        .btn{
            margin: 0 3px;
        }
        .status{
            font-weight: 600;
            &.new{
                color: var(--info);
            }
            &.inactive{
                color: var(--warning);
            }
            &.active{
                color: var(--success);
            }
            &.disabled{
                color: var(--gray)
            }
        }
    }

   .action-btn {
       width: 24px;
       height: 24px;
       border-radius: 4px;
       line-height: 24px;
       text-align: center;
       box-sizing: border-box;
       margin: 0 3px;
       opacity: .9;

       &:hover {
           opacity: 1;
       }

       &.fa-edit {
           padding-left: 4px;
           color: white;
           background-color: var(--info) !important;
       }
       &.fa-user-cog {
           padding-left: 2px;
           color: white!important;
           text-shadow: none!important;
           background-color: var(--info) !important;
       }
       &.fa-trash-alt {
           color: white;
           background-color: var(--danger) !important;
       }
       &.fa-lock{
           background-color: var(--danger) !important;
       }
       &.fa-unlock-alt{
           background-color: var(--success) !important;
       }
   }
   .datetime{
       display: flex;
       flex-direction: column;
       text-align: left;
       .time{
           font-size: 0.8rem!important;
           padding-top: 5px;
           opacity: 0.8;
       }
   }

   .emp-manager-form{
       .hd5{
           font-weight:600;
           color: var(--primary-color);
       }
       .modal-body{
           padding: 0;
       }
       .emp-info-form{
           padding: 1.5rem;
       }
       .emp-acc-form{
           padding: 1.5rem;
           background-color: white;
           border-left:1px solid var(--overlay-border);

       }
       .emp-accinfo-form{
            display: inline-table;
            padding: 1.5rem;
            border-radius: 6px;
            border: 1px solid var(--gray);
            background: #f4f8fb;
            .form-control:disabled{
                background-color: #0000000d!important;
            }
       }
       .emp-acctoggle-form{
           margin: 0.5rem 0;
           padding: 1rem;
           border-radius: 6px;
           border: 1px solid var(--gray);
           background: #f4f8fb;
           display: inline-table;
           button.btn{
                margin:10px 0 5px 90px;
           }
       }
       button.btn{
           width: fit-content;
           margin: 0 auto;

           &.create-acc-tggle{
               margin:1rem 0 0.5rem 0 ;
           }
           &.btnfooter{
                min-width: 200px;
                margin-top: 0.5rem;
           }
           &.btn-active{
               margin: 1rem  auto;
               font-size: 1rem;
           }
       }

   }

   .center-div
   {
       display: flex;
       margin: 0 auto;
   }
}
