.containter {
    display: flex;
    flex-direction: column;
    // overflow: scroll;
    align-items: center;
    padding: 5px;
    min-height: 100vh;
}

.header {
    margin-top: 50px;
    width: 75%;
    height: 35px;
    // border-radius: 15px 0 15px 0;
    padding: 5px 5px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    // color: white;
    text-transform: uppercase;
}

.step1 {
    width: 100%;
    height: fit-content;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.step2 {
    padding: 15px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;

        .btn-download {
            color: #fff;
            border-color: #007bff;
            font-size: 1.25rem;
            padding: 0.2rem 1.8rem;
            line-height: 1.5;
            border-radius: 0.3rem;
            text-decoration: none;
            box-shadow: 1px 1px 3px rgba(202, 100, 100, 1);
            background-image: linear-gradient(
                    to right,
                    #f78ca0 0%,
                    #f9748f 19%,
                    #fd868c 60%,
                    #fe9a8b 100%
            );
        }

        .btn-download:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: 0.2s linear;
            background-image: linear-gradient(
                    to left,
                    #f78ca0 0%,
                    #f9748f 19%,
                    #fd868c 60%,
                    #fe9a8b 100%
            );
        }
    }
}

.str {
    width: 50%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #fff003; */
    p {
        text-align: center;
        text-transform: uppercase;
        font: 0.8em sans-serif;
        font-weight: bold;
    }
}

.g-invite-page {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url('../../../../images/bg_login.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
}

.stl {
    width: 50%;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.applink {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
}

.step3 {
    p {
        color: #000;
        font-size: 1.5em;
    }

    center {
        color: rgb(179, 179, 179);
        font-weight: bold;
    }

    .code {
        text-align: center;
        font-size: 3.5rem;
        color: #f3cb80;
    }
}

.title-1 {
    margin-top: 15px;
}

@media screen and (min-width: 759px) {
    .btn-download {
        padding: 0.5rem 2rem;
    }
    .header p {
        font-size: 1.5rem;
    }
    .title-1 {
        p {
            font-size: 1.5rem !important;

            span {
                font-size: 1.3rem !important;
            }
        }
    }
    .str {
        p {
            font-size: 1.5rem;
            letter-spacing: 0.12rem;
        }
    }
    .step2 {
        p {
            font-size: 1.5rem;

            span {
                font-size: 1.3rem;
            }
        }

        a {
            font-size: 1.5rem;
        }
    }
}
