.layers-selector-row-container {
    display: flex;
    padding: 0.5rem;
    cursor: pointer;
    align-items: center;

    &:hover {
        background: var(--contrast-light);
    }
}

.layers-selector-layer-name {
    flex: 1;
    margin-left: 1rem;
}

.layers-selector-layer-description {
    flex: 1;
}

.layers-selector-tags-container {
    margin-bottom: 8px;
}
