.loading {
    .overlay-main {
        background: transparent !important;
        box-shadow: none !important;
        border: none !important;
    }

    .overlay-background {
        background-color: var(--base-color) !important;
    }
}

.loading--overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(var(--base-rgb), 0.5);
    z-index: 10;
}
