.footer {
    background: url("../../../assets/image/footer_right.png") bottom right / 138px 93px
            no-repeat,
        url("../../../assets/image/footer_left.png") bottom left / 504px 38px no-repeat;
    .btn_contact {
        background-color: var(--black);
        color: var(--base-color);
        border-radius: 24px;
        padding: 15px !important;
        font-weight: 600;
        span {
            font-size: 16px;
        }
    }
    .heading {
        color: var(--contrast-color);
        font-size: 20px;
    }
}
.bg-skin {
    background-color: var(--skin) !important;
}
