.hover-radius-50 {
    border-radius: 50%;
    background-color: var(--dark-gray);
    padding: 3px;
}
.suggest {
    width: 100%;
    top: 100%;
    left: 0;
    background-color: white;
    border-radius: 0 0 15px 15px;
    max-height: 350px;
    overflow: auto;
    z-index: 20;
    padding: 10px 0;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    &:hover {
        background: white;
    }
    &_item {
        margin: 0 8px;
        padding: 10px 15px;
        border-radius: 5px;
        &:hover {
            background-color: var(--gray);
        }
    }
}
.bd-white {
    border: 1px solid white;
}
.bg-active {
    border: 1px solid var(--btn-primary);
}
.radius-50-gray {
    padding: 5px 10px;
    border-radius: 50%;
    &:hover {
        background-color: var(--dark-gray) !important;
    }
}
.absolute-t50-right {
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}
.selected {
    border-radius: 1rem;
    background-color: rgba(145, 158, 171, 0.16);
    padding: 3px 6px;
    font-size: 1rem;
    & > i {
        cursor: pointer;
        color: white !important;
        background-color: var(--dark-gray) !important;
        padding: 3px 5px;
        border-radius: 50%;
        &:hover {
            background-color: rgba(33, 43, 54, 0.4) !important;
        }
    }
    .content {
        display: inline;
        margin-right: 5px;
    }
}
