.tracking-tree-item{
    position: relative;
    * span {
        font-size: .875rem;
    }

    .tree-item-action{
        position: absolute;
        top: 0.5rem;
        right: 0.75rem;
        z-index: 1;
        span { cursor: pointer;}
        i{
            margin-left: 1rem;
            margin-right: 0;
        }
    }

    .tree-item-content{
        padding: 0.25rem 0.5rem;
        box-sizing: border-box;
    }
    .tree-line{
        span{ 
            color: var(--text-color-dark);
        }
        &.header span{
            font-weight: 500;
            color: var(--text-color);
        }

        .active-tracker {
            color: white;
        }
    }
    .control .tree-line span{
        color: var(--text-color);
    }
    
    .tree-line i {
        width: 24px;
        height: 24px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tree-date{
        color: var(--text-color-dark);
        padding: 0.25rem 2rem ;
    }
}
// .tracking-worker-content{

//     .tli-with-color {
//         position: relative;

//         .tli-node {
//             position: absolute;
//             right: 5px;
//             top: 5px;
//             z-index: 1;
//             &:hover{
//                 background-color: transparent;
//             }

//             .tli-node-label {
//                 padding: 0;

//                 .action-group-btn {

//                     i {
//                         padding: 0.25rem;
//                         margin: 0.25rem;        
            
//                         transition: background .3s, transform .3s;
//                         will-change: transform;
            
//                         &:hover {
//                             background: var(--contrast-light)!important;
//                             transform: translate3d(0, -2px, 0);
//                             color: var(--text-color);
//                         }
            
//                         &:active {
//                             background: var(--contrast-highlight)!important;
//                             transform: translate3d(0, 1px, 0);
//                         }
//                     }
//                 }
//             }
//         }
//     }
    
//     .list-item-container {
//         border-bottom: none;

//         .list-item-icon {
//             margin-right: 0;
//             width: 0;
//         }
//     }    
    
// }