.menu-item {
    margin: 0px 0px 4px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    i {
        color: currentColor !important;
    }
    .hd6 {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }
    &:hover {
        background-color: var(--gray);
    }
}
.icon {
    margin-right: 17px;
    padding-left: 3px;
    color: currentColor;
    i {
        line-height: normal;
        width: 22px;
        height: 22px;
    }
}
.method_container {
    overflow: hidden;
    transition: .3s max-height ease;
    .hd6 {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
    }
    .method_item {
        position: relative;
        padding: 8px 12px 8px 19px;
        padding-left: 22.5%;
        border-radius: 10px;
        &_active{
            &::before{
                height: 5px !important;
                width: 5px !important;
                left: 9.5% !important;
                background-color: var(--btn-primary) !important;
            }
        }
        &::before {
            content: "";
            background-color: gray;
            height: 3px;
            width: 3px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
        }
    }
}
.group {
    padding: 8px 12px 8px 16px;
}
.expand {
    max-height: 7rem;
}
.non-expand {
    max-height: 0px;
}

