.sip-provider {
    height: 100%;
    position: relative;

    button {
        flex: 1 1;
        padding: 8px 16px;
        margin: 4px;
        text-align: center;
        background-color: #505050;
        color: #777777;
        cursor: pointer;
    }
}