$color-system: (
    "slate": (
        "50": "248, 250, 252",
        "100": "241, 245, 249",
        "200": "226, 232, 240",
        "300": "203, 213, 225",
        "400": "148, 163, 184",
        "500": "100, 116, 139",
        "600": "71, 85, 105",
        "700": "51, 65, 85",
        "800": "30, 41, 59",
        "900": "15, 23, 42",
    ),
    "gray": (
        "50": "249, 250, 251",
        "100": "243, 244, 246",
        "200": "229, 231, 235",
        "300": "209, 213, 219",
        "400": "156, 163, 175",
        "500": "107, 114, 128",
        "600": "75, 85, 99",
        "700": "55, 65, 81",
        "800": "31, 41, 55",
        "900": "17, 24, 39",
    ),
    "zinc": (
        "50": "250, 250, 250",
        "100": "244, 244, 245",
        "200": "228, 228, 231",
        "300": "212, 212, 216",
        "400": "161, 161, 170",
        "500": "113, 113, 122",
        "600": "82, 82, 91",
        "700": "63, 63, 70",
        "800": "39, 39, 42",
        "900": "24, 24, 27",
    ),
    "neutral": (
        "50": "250, 250, 250",
        "100": "245, 245, 245",
        "200": "229, 229, 229",
        "300": "212, 212, 212",
        "400": "163, 163, 163",
        "500": "115, 115, 115",
        "600": "82, 82, 82",
        "700": "64, 64, 64",
        "800": "38, 38, 38",
        "900": "23, 23, 23",
    ),
    "stone": (
        "50": "250, 250, 249",
        "100": "245, 245, 244",
        "200": "231, 229, 228",
        "300": "214, 211, 209",
        "400": "168, 162, 158",
        "500": "120, 113, 108",
        "600": "87, 83, 78",
        "700": "68, 64, 60",
        "800": "41, 37, 36",
        "900": "28, 25, 23",
    ),
    "brown": (
        "50": "239, 235, 233",
        "100": "215, 204, 200",
        "200": "188, 170, 164",
        "300": "161, 136, 127",
        "400": "141, 110, 99",
        "500": "121, 85, 72",
        "600": "109, 76, 65",
        "700": "93, 64, 55",
        "800": "78, 52, 46",
        "900": "62, 39, 35",
    ),
    "red": (
        "50": "254, 242, 242",
        "100": "254, 226, 226",
        "200": "254, 202, 202",
        "300": "252, 165, 165",
        "400": "248, 113, 113",
        "500": "239, 68, 68",
        "600": "220, 38, 38",
        "700": "185, 28, 28",
        "800": "153, 27, 27",
        "900": "127, 29, 29",
        "a-100": "255, 138, 128",
        "a-200": "255, 82, 82",
        "a-400": "255, 23, 68",
        "a-700": "213, 0, 0",
    ),
    "salmon": (
        "50": "251, 233, 231",
        "100": "255, 204, 188",
        "200": "255, 171, 145",
        "300": "255, 138, 101",
        "400": "255, 112, 67",
        "500": "255, 87, 34",
        "600": "244, 81, 30",
        "700": "230, 74, 25",
        "800": "216, 67, 21",
        "900": "191, 54, 12",
        "a-100": "255, 158, 128",
        "a-200": "255, 110, 64",
        "a-400": "255, 61, 0",
        "a-700": "221, 44, 0",
    ),
    "orange": (
        "50": "255, 247, 237",
        "100": "255, 237, 213",
        "200": "254, 215, 170",
        "300": "253, 186, 116",
        "400": "251, 146, 60",
        "500": "249, 115, 22",
        "600": "234, 88, 12",
        "700": "194, 65, 12",
        "800": "154, 52, 18",
        "900": "124, 45, 18",
        "a-100": "255, 209, 128",
        "a-200": "255, 171, 64",
        "a-400": "255, 145, 0",
        "a-700": "255, 109, 0",
    ),
    "amber": (
        "50": "255, 251, 235",
        "100": "254, 243, 199",
        "200": "253, 230, 138",
        "300": "252, 211, 77",
        "400": "251, 191, 36",
        "500": "245, 158, 11",
        "600": "217, 119, 6",
        "700": "180, 83, 9",
        "800": "146, 64, 14",
        "900": "120, 53, 15",
        "a-100": "255, 229, 127",
        "a-200": "255, 215, 64",
        "a-400": "255, 196, 0",
        "a-700": "255, 171, 0",
    ),
    "yellow": (
        "50": "254, 252, 232",
        "100": "254, 249, 195",
        "200": "254, 240, 138",
        "300": "253, 224, 71",
        "400": "250, 204, 21",
        "500": "234, 179, 8",
        "600": "202, 138, 4",
        "700": "161, 98, 7",
        "800": "133, 77, 14",
        "900": "113, 63, 18",
        "a-100": "255, 255, 141",
        "a-200": "255, 255, 0",
        "a-400": "255, 234, 0",
        "a-700": "255, 214, 0",
    ),
    "pear": (
        "50": "249, 251, 231",
        "100": "240, 244, 195",
        "200": "230, 238, 156",
        "300": "220, 231, 117",
        "400": "212, 225, 87",
        "500": "205, 220, 57",
        "600": "192, 202, 51",
        "700": "175, 180, 43",
        "800": "158, 157, 36",
        "900": "130, 119, 23",
        "a-100": "244, 255, 129",
        "a-200": "238, 255, 65",
        "a-400": "198, 255, 0",
        "a-700": "174, 234, 0",
    ),
    "lime": (
        "50": "247, 254, 231",
        "100": "236, 252, 203",
        "200": "217, 249, 157",
        "300": "190, 242, 100",
        "400": "163, 230, 53",
        "500": "132, 204, 22",
        "600": "101, 163, 13",
        "700": "77, 124, 15",
        "800": "63, 98, 18",
        "900": "54, 83, 20",
        "a-100": "204, 255, 144",
        "a-200": "178, 255, 89",
        "a-400": "118, 255, 3",
        "a-700": "100, 221, 23",
    ),
    "green": (
        "50": "240, 253, 244",
        "100": "220, 252, 231",
        "200": "187, 247, 208",
        "300": "134, 239, 172",
        "400": "74, 222, 128",
        "500": "34, 197, 94",
        "600": "22, 163, 74",
        "700": "21, 128, 61",
        "800": "22, 101, 52",
        "900": "20, 83, 45",
        "a-100": "185, 246, 202",
        "a-200": "105, 240, 174",
        "a-400": "0, 230, 118",
        "a-700": "0, 200, 83",
    ),
    "emerald": (
        "50": "236, 253, 245",
        "100": "209, 250, 229",
        "200": "167, 243, 208",
        "300": "110, 231, 183",
        "400": "52, 211, 153",
        "500": "16, 185, 129",
        "600": "5, 150, 105",
        "700": "4, 120, 87",
        "800": "6, 95, 70",
        "900": "6, 78, 59",
    ),
    "teal": (
        "50": "240, 253, 250",
        "100": "204, 251, 241",
        "200": "153, 246, 228",
        "300": "94, 234, 212",
        "400": "45, 212, 191",
        "500": "20, 184, 166",
        "600": "13, 148, 136",
        "700": "15, 118, 110",
        "800": "17, 94, 89",
        "900": "19, 78, 74",
        "a-100": "167, 255, 235",
        "a-200": "100, 255, 218",
        "a-400": "29, 233, 182",
        "a-700": "0, 191, 165",
    ),
    "cyan": (
        "50": "236, 254, 255",
        "100": "207, 250, 254",
        "200": "165, 243, 252",
        "300": "103, 232, 249",
        "400": "34, 211, 238",
        "500": "6, 182, 212",
        "600": "8, 145, 178",
        "700": "14, 116, 144",
        "800": "21, 94, 117",
        "900": "22, 78, 99",
        "a-100": "132, 255, 255",
        "a-200": "24, 255, 255",
        "a-400": "0, 229, 255",
        "a-700": "0, 184, 212",
    ),
    "sky": (
        "50": "240, 249, 255",
        "100": "224, 242, 254",
        "200": "186, 230, 253",
        "300": "125, 211, 252",
        "400": "56, 189, 248",
        "500": "14, 165, 233",
        "600": "2, 132, 199",
        "700": "3, 105, 161",
        "800": "7, 89, 133",
        "900": "12, 74, 110",
        "a-100": "128, 216, 255",
        "a-200": "64, 196, 255",
        "a-400": "0, 176, 255",
        "a-700": "0, 145, 234",
    ),
    "blue": (
        "50": "239, 246, 255",
        "100": "219, 234, 254",
        "200": "191, 219, 254",
        "300": "147, 197, 253",
        "400": "96, 165, 250",
        "500": "59, 130, 246",
        "600": "37, 99, 235",
        "700": "29, 78, 216",
        "800": "30, 64, 175",
        "900": "30, 58, 138",
        "a-100": "130, 177, 255",
        "a-200": "68, 138, 255",
        "a-400": "41, 121, 255",
        "a-700": "41, 98, 255",
    ),
    "indigo": (
        "50": "238, 242, 255",
        "100": "224, 231, 255",
        "200": "199, 210, 254",
        "300": "165, 180, 252",
        "400": "129, 140, 248",
        "500": "99, 102, 241",
        "600": "79, 70, 229",
        "700": "67, 56, 202",
        "800": "55, 48, 163",
        "900": "49, 46, 129",
        "a-100": "140, 158, 255",
        "a-200": "83, 109, 254",
        "a-400": "61, 90, 254",
        "a-700": "48, 79, 254",
    ),
    "violet": (
        "50": "245, 243, 255",
        "100": "237, 233, 254",
        "200": "221, 214, 254",
        "300": "196, 181, 253",
        "400": "167, 139, 250",
        "500": "139, 92, 246",
        "600": "124, 58, 237",
        "700": "109, 40, 217",
        "800": "91, 33, 182",
        "900": "76, 29, 149",
        "a-100": "179, 136, 255",
        "a-200": "124, 77, 255",
        "a-400": "101, 31, 255",
        "a-700": "98, 0, 234",
    ),
    "purple": (
        "50": "250, 245, 255",
        "100": "243, 232, 255",
        "200": "233, 213, 255",
        "300": "216, 180, 254",
        "400": "192, 132, 252",
        "500": "168, 85, 247",
        "600": "147, 51, 234",
        "700": "126, 34, 206",
        "800": "107, 33, 168",
        "900": "88, 28, 135",
        "a-100": "234, 128, 252",
        "a-200": "224, 64, 251",
        "a-400": "213, 0, 249",
        "a-700": "170, 0, 255",
    ),
    "fuchsia": (
        "50": "253, 244, 255",
        "100": "250, 232, 255",
        "200": "245, 208, 254",
        "300": "240, 171, 252",
        "400": "232, 121, 249",
        "500": "217, 70, 239",
        "600": "192, 38, 211",
        "700": "162, 28, 175",
        "800": "134, 25, 143",
        "900": "112, 26, 117",
    ),
    "pink": (
        "50": "253, 242, 248",
        "100": "252, 231, 243",
        "200": "251, 207, 232",
        "300": "249, 168, 212",
        "400": "244, 114, 182",
        "500": "236, 72, 153",
        "600": "219, 39, 119",
        "700": "190, 24, 93",
        "800": "157, 23, 77",
        "900": "131, 24, 67",
        "a-100": "255, 128, 171",
        "a-200": "255, 64, 129",
        "a-400": "245, 0, 87",
        "a-700": "197, 17, 98",
    ),
    "rose": (
        "50": "255, 241, 242",
        "100": "255, 228, 230",
        "200": "254, 205, 211",
        "300": "253, 164, 175",
        "400": "251, 113, 133",
        "500": "244, 63, 94",
        "600": "225, 29, 72",
        "700": "190, 18, 60",
        "800": "159, 18, 57",
        "900": "136, 19, 55",
    ),
);

:root {
    --black: 0, 0, 0;
    --white: 255, 255, 255;

    @mixin color-variables($map-system) {
        @each $color-name, $map in $map-system {
            @each $step, $rgb in $map {
                --#{$color-name}-#{$step}: #{$rgb};
            }
        }
    }

    @include color-variables($color-system);
}
