//Job info Popup
.no-padding-body {
    .modal-body {
        padding: 0 !important;
    }
}
.job-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: 100%;
   
    .job-vertical-line {
        border-left: 1px solid var(--border);
        transform: translate(-50%);
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
    }
}

.job-info-left {
    max-width: 380px !important;
    position: fixed;
    border-right: 1px solid var(--border);
    z-index: 10;
    .section-panel {
        .section-header{
            font-size: 1rem;
            line-height: initial;
            color: var(--text-color);
            border-bottom: 0 solid rgba(var(--border-rgb),0.5);
        }
    }
    
    .list-item-reader   {
         .list-item-icon {
            .list-icon {
                
            }            
        }  
        .tb1 {
            font-size: 1rem;
            line-height: initial;
        }  
    
    }
}
.job-info-right {
    background-color: var(--background-color) !important;
    position: absolute;
    right: 0;
    h1 {
        margin-left: 10px;
        color: var(--text-color) !important;
        font-size: 18px !important;
        margin-top: 5px;
    }
    .container {
        width: 380px;
    }
}
.job-info-center {
    max-width: 380px !important;
    position: fixed;
    z-index: 10;
}
.job-empty {
    text-align: center;
}
.job-info-body {
    padding: 1rem;
    width: 50%;
    background-color: white;
    position: relative;

    .icon-text-control-row {
        color: var(--text-color);
    }

    h1{
        color: var(--text-color);
        font-weight: normal;
        font-size: 15px;
        word-break: break-all;
        -webkit-line-clamp:2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        height:  29.5px;
    }
    .icon-text-label{
        font-size: 16px;
    }

    hr {
        border-top: 1px solid var(--border);
        margin-left: 10px;
        border-bottom: none;
    }

    .job-data-content {
        flex: 1;
    }

    .job-padding-label {
        padding-left: 20px;
        font-size: 18px;
    }

    .job-padding-icon {
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        font-size: 18px;
    }

    //Job Timeline
    .img-responsive {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .img-rounded {
        border-radius: 3px;
    }

    .img-thumbnail {
        background-color: var(--background-color);
        border: 1px solid var(--border);
        border-radius: 3px;
        display: inline-block;
        height: auto;
        line-height: 1.428571429;
        max-width: 100%;
        padding: 2px;
        transition: all 0.2s ease-in-out;
    }

    .img-circle {
        border-radius: 50%;
    }

    .job-info-container {
        position: relative;
        border-radius: 5px;
        border-style: solid;
        height: content-box;
        width: content-box;
        padding: 8px;
        max-width: 386px;
    }
}

