.report-data-container {
    margin-bottom: 0.5rem;
}
.report-imageInfo-container {
    margin-bottom: 8px;
    border: 1px solid;
    padding: 8px;

    .report-imageInfo-header {
        padding: 8px;
        font-weight: 600;
    }

    .report-imageInfo-body {
        padding: 6px;
        background: #555;
    }

    .report-probe-image-body {
        overflow: hidden;
    }
}
.report-data-body {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    &.flex {
        display: flex;
        flex-direction: row;

        .report-data-content {
            flex: 1;
        }
    }

    .vertical-line {
        border-left: 1px solid;
        color: var(--contrast-highlight);
        margin: 0 1rem;
    }
}

.receipt{
    padding: 5px;
    border: 1px solid var(--border);
    background-color: white;
    border-radius: 5px;
    margin: 0.5rem;
    height: auto;
}

