.wf-item {
    .list-item-container {
        padding: 1rem
    }

    .wf-item-main {
        display: flex;
        padding: 8px 16px 4px 16px;

        .wf-item-left {
            max-width: 30px;
            width: 25%;
            margin-top: 10px;
        }

        .wf-item-right {
            width: 100%;
            margin-top: 5px;
            padding: 0 0 0 8px;
            display: flex;

            .wf-item-content-left {
                max-width: 25px;
                width: 20%;
                margin-top: 3px;
                position: relative;

                .wf-item-content-required {
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    top: 3px;
                    left: -8px;
                    border-radius: 50%;
                    z-index: 2;
                    background-color: #96342d;
                }
            }

            .wf-item-content-right {
                width: 100%;
                margin-top: 5px;
            }
        }
    }

    .wf-item-tools {
        padding: 4px 16px 8px 16px;
        text-align: right;

        i {
            margin-left: 20px;
        }
    }

    .wf-item-post {
        min-height: 100px;
        background-color: #202020;
        position: relative;

        .wf-item-post-arrow {
            position: absolute;
            top: -14px;
            right: 17px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 15px solid #202020;
        }

        .wf-item-post-content {
            width: 100%;

            textarea {
                width: calc(100% - 10px);
                min-width: calc(100% - 10px);
                max-width: calc(100% - 10px);
                background-color: #303030;
            }

            textarea::-webkit-scrollbar-track {
                background-color: #F5F5F5;
                border-radius: 10px;
            }

            textarea::-webkit-scrollbar {
                width: 3px;
                background-color: #F5F5F5;
            }

            textarea::-webkit-scrollbar-thumb {
                background-color: #AAA;
                border-radius: 10px;
                background-image: -webkit-linear-gradient(90deg,
                    rgba(0, 0, 0, .2) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(0, 0, 0, .2) 50%,
                    rgba(0, 0, 0, .2) 75%,
                    transparent 75%,
                    transparent)
            }

            .layout-row {
                padding: 1rem;
            }

            .wf-item-post-send-button {
                button {
                    padding: 1rem;
                }
            }
        }

        .wf-item-post-breakline {
            margin: 0 15px;
        }

        .wf-item-post-history {
            padding: 0 15px 8px 15px;

            .wf-item-post-history-item {

                margin: 5px 0;

                .wf-item-post-history-date {
                    color: #4E4E4E;
                }

                .wf-item-post-history-content {
                    position: relative;
                    margin-left: 30px;
                    margin-top: 10px;

                    .wf-item-content-left-line {
                        left: -20px;
                        width: 2px;
                        height: 100%;
                        background-color: #454545;
                        position: absolute;

                        i {
                            position: absolute;
                            top: 15px;
                            left: -7px;
                            padding: 5px 0;
                        }
                    }

                    span {
                        margin: 7px 0;
                    }
                }
            }
        }
    }

    .wf-item-info {
        //min-height: 100px;
        background-color: #202020;
        margin-top: 10px;
        position: relative;

        .wf-item-info-arrow {
            position: absolute;
            top: -15px;
            right: 55px;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #202020;
        }

        .wf-item-info-content {
            display: flex;
            padding: 1rem;
        }
    }

    .disabled {
        background-color: rgba(0, 0, 0, 0.05);
        color: #b9b7b7ba;
    }
}


