.process-popup {
    .process-body {
        padding: 5px;

        .process-content {
            padding: 15px;
            margin: 0;

            .process-btn {
                width: 100%;
            }
        }
    }

    .process-footer {
        text-align: center;

        button {
            margin-left: 8px;
        }
    }
}
