.progress-linear-wrap{
    border: 0.2rem solid;
    background-color: white;
    padding: 0.15rem;
    border-radius: 1rem;
    box-sizing: border-box;
  
    .progress-linear{
      height: 1.5rem;
      overflow: hidden;
      position: relative;
      border-radius: 5px;
    }
  }
  
  .loading-progress {
    height: 1.5rem;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
  
    .loading-progress-bar {
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      position: absolute;
      transition: transform 0.1s linear;
      transform-origin: left;
      box-sizing: border-box;
    }
  
    .loading-track1 {
      width: auto;
      animation: keyframes-track1 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }
  
    .loading-track2 {
      width: auto;
      animation: keyframes-track2 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite;
    }
  }
  
  @-webkit-keyframes keyframes-track1 {
    0% {
      left: -35%;
      right: 100%;
    }
    60% {
      left: 100%;
      right: -90%;
    }
    100% {
      left: 100%;
      right: -90%;
    }
  }
  
  @-webkit-keyframes keyframes-track2 {
    0% {
      left: -200%;
      right: 100%;
    }
    60% {
      left: 107%;
      right: -8%;
    }
    100% {
      left: 107%;
      right: -8%;
    }
  }