.breadcrumbv2 {
    .breadcrumb-items {
        text-decoration: underline;
        color: var(--black);
        a {
            color: var(--gray);
            transition: 0.3s all;
            font-size: 13px;
            &:hover{
                color: var(--light-gray);
            }
            &::after{
                content: "";
                display: inline-block;
                background: url('../../../assets/svg/arrow.svg') no-repeat;
                background-size: 10px 10px;
                padding-left: 10px;
                margin: 0px 6px;
                height: 15px;
                top: 6px;
                position: relative;
            }
        }
    }
}
