.image-gallery-content {
    width: 100%;
    .image-slider-container {
        width: 100%;
        .image-slider-content {
            width: 100%;
            .image-gallery {
                width: 100%;
            }
        }
    }
}
