:root {
    --border-table: rgba(97, 125, 255, 0.2);
    --expand-icon: #ff5f74;
    --heading-color:#5b45d1;
    --bg-color-primary: #f0f0fc;
    --bg-color-primary2: #e2e2fb;
    --bg-color-primary3: #9797da;
    --bg-color-primary5: #8b7ae7;
    --dark-blue:rgba(30, 48, 86, 0.8);

}

.container-init {
    overflow: auto;
    width: 100%;
    display: block;
}
.mt-7rem{
    margin-top: 7rem;
}