.related-post-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    /* border: 1px solid; */
    border-top: 1px solid rgb(226, 225, 225);

    .hd4 {
        border-bottom: 1px solid rgb(226, 225, 225);
        box-shadow: -10px 1px 10px rgb(226, 225, 225);
        padding: 1rem 1rem 1rem 0rem;
    }
}
.related-post-container {
    display: block;
}
.related-post-content {
    display: block;
    border: 1px solid rgb(226, 225, 225);
    box-shadow: 1px 1px 1px rgb(226, 225, 225);
    border-radius: 1rem;
    overflow: hidden;
    margin-right: 1rem;

    .post-title {
        padding: 0rem 1rem 1rem 1rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1rem;
        text-decoration: none;
    }

    .post-date {
        padding: 0 1rem 0.5rem 1rem;
        font-style: italic;
        margin:0;
        /* font-weight: 900; */
        font-size: 12px;
        text-decoration: none;
    }

    .post-featured-image {
        height: 10rem;
        overflow: hidden;
    }
}
.related-post-content:hover {
    box-shadow: 3px 3px 1px rgb(226, 225, 225);
    transition: 0.5s;
}
.related-post-list {
    padding-bottom: 1rem;
}
.related-post {
    margin-bottom: 1rem;
}
