.popper-tooltip-container {
    background-color: var(--background-color);
    border-radius: 3px;
    border: 1px solid var(--popup-border);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    // color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin: 0.4rem;
    padding: 0.4rem;
    transition: opacity 0.3s;
    z-index: 2147483647;
    .tooltip-arrow[data-placement*='top']::before {
        border-color: var(--popup-border) transparent transparent transparent;
        border-width: 0.4rem 0.5rem 0 0.5rem;
        position: absolute;
        top: 1px;
    }
    .tooltip-arrow[data-placement*='top']::after {
        // border-color: var(--background-color) transparent transparent transparent;
        border-width: 0.4rem 0.5rem 0 0.5rem;
    }
    .tooltip-arrow[data-placement*='right']::after {
        // border-color: transparent var(--popup-border) transparent transparent;
        border-width: 0.5rem 0.4rem 0.5rem 0;
        left: 4px;
        top: 0;
    }
    .tooltip-arrow[data-placement*='right']::before {
        border-color: transparent var(--background-color) transparent transparent;
        border-width: 0.5rem 0.4rem 0.5rem 0;
    }
}