.emp-manager {
    .btn-add {
        text-transform: uppercase;
    }
}

.emp-manager-form {    
    .overlay-main {
        max-width: 90% !important;
        min-width: 30rem !important;
    }
    
    .hd5 {
        font-weight: 600;
    }

    .popup-header {
        text-transform: uppercase;
    }

    .popup-body {
        padding: 0 !important;
    }

    .emp-info-form {
        background-color: var(--popup-bg);
        padding: 1rem 1.5rem;
    }
    .panel-footer {
        background-color: var(--popup-bg);
    }
    .emp-acc-form {
        background-color: white;
        border-left: 1px solid var(--border);
        padding: 1.5rem;

        .emp-acctoggle-form {
            background-color: var(--popup-bg);
            padding: 1rem !important;
            margin-top: 0.5rem;
            border-radius: 0.25rem;
        }

        .active-form {
            flex-direction: column;
            display: flex;
            margin-top: 2rem;
            text-align: center;

            .hd5 {
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.2;
                color: var(--success-color);
            }

            button {
                align-self: auto;
                margin: 0 80px;
                text-transform: uppercase;
                letter-spacing: 1;
            }
        }

        .link {
            color: var(--info-color);
            font-weight: 500;
        }

        .resetpass {
            align-items: center !important;

            span {
                color: var(--success-color);
                font-size: 2rem;
                font-weight: 600;
                background: none;
                border: 0px;
                padding: 0;
            }

        }

    }

    .form-control-container {
        &.required {
            color: var(--danger-color);
        }

        .sub-danger {
            font-size: 0.875em;
        }

        .invalid-field.form-control {
            box-shadow: 0 0 0 0.7px var(--danger-color) !important;
            border: 0 !important;
        }
    }

    .form-control-label {
        margin: 0.25rem 0;

        &.form-control-row {
            align-items: baseline;
        }
    }

    pre.invalid-message {
        color: var(--danger-color);
    }

   

    .panel-danger {
        border: 1px solid var(--danger-color);
        border-radius: var(--popup-border-radius);
        overflow: hidden;
        margin: 0.5rem 1rem;        

        .panel-header {
            color: var(--danger-color);
            border-bottom: 1px solid var(--danger-color);
        }

        .form-control-label {
            padding: 0.5rem;
        }
    }

    
    .panel-primary {
        border: 1px solid var(--primary);
        border-radius: var(--popup-border-radius);
        overflow: hidden;
        margin-bottom: 1rem;

        .panel-header {
            color: var(--primary);
            border-bottom: 1px solid var(--primary);
        }

        .form-control-label {
            padding: 0.5rem;
        }
    }

    .panel-success {
        &.border {
            border: 1px solid var(--success-color);
            border-radius: var(--popup-border-radius);
            overflow: hidden;
        }
        margin-bottom: 1rem;

        .panel-header {
            background-color: transparent;
            color: var(--success-color);
            border-bottom: 1px solid var(--success-color);
        }
    }


    .panel-disabled {
        margin-bottom: 1rem;

        .panel-header {
            background-color: transparent;
            color: var(--danger-color);
            border-bottom: 1px solid var(--danger-color);
        }
    }


    .panel-inactivated {
        margin-bottom: 1rem;

        .panel-header {
            background-color: transparent;
            color: var(--default-color);
            border-bottom: 1px solid var(--default-color);
        }
    }
    .empty-popup-footer{
        height: 0;
    }
    .employee-account .form-group {
        padding-right: 1rem!important;
    }
}

.btn-action {
    background-color: var(--contrast-lighter) !important;
    color: var(--text-color) !important;
}