
.comparison-type{
    display: flex;
    align-items: center;   
    display: flex;    
    .dropdown-btn-text{
        padding: 0.1rem 0.5em !important;
    }
}
.comparison-dropdown{
    width: 350px;
}