.status-text {
    &.good {
        color: var(--success-color);
    }

    &.bad {
        color: var(--danger-color);
    }

    &.no-data {
        font-style: italic;
    }
}

.device-signal-toolbar {
    padding: 0.5rem;
}
