.report-toolbar{
    padding: 0.5rem 0;
    .btn.custom-button {
        background: transparent !important;
        padding-left: 0;
        color: var(--text-color);
        &.calender{
            padding-right: 0;
            >span{
                margin-right: 0 !important;
            }
        }
    }
    .report-group-toolbar{
        display: flex;
    }
    .report-toolbar-content{
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem;
        display: flex;
        padding-top:0.25rem;
    }
    
}