.data-list-container {

    padding: 4px;
    padding-top: 12px;

    .btn-load-more {
        margin-top: 1rem;
    }
}

.data-list-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.account-list-item {
    // padding : 4px;
    border: 1px solid var(--border);
    margin: 2px 0;
    background-color: var(--contrast-light);

    .trash-icon {
        padding: 0 12px;
    }
}