.input-wrapper {
    position: relative;
    margin: 0 auto;
    .input {
        background-color: var(--base-color);
        border: none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        color: var(--contrast-color);
        display: block;
        font-size: 1rem;
        height: 3rem;
        padding: 0 3% 0 10%;
        width: 100%;
    }
    .input.box-shadow {
        box-shadow: 0 1px 2px 0 #a7a7a7, 0 1px 3px 1px #b9b9b9;
    }
    .input::placeholder {
        color: var(--contrast-color);
    }
    .icon-search {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 7%;
        font-weight: 500;
    }
}
.suggestion {
    background-color: var(--base-color);
    position: absolute;
    top: 4.3rem;
    left: 5%;
    width: 90%;
    z-index: 990;
    max-height: 10rem;
    overflow: auto;
    border-radius: 0 0 1rem 1rem;
    padding: 1rem;
    box-shadow: 0 1px 2px 0 #a7a7a7, 0 0px 0px 0px #b9b9b9;
    .hd6 {
        font-size: 1rem;
        font-weight: 400;
        color: #838383;
    }
    .suggest-item {
        cursor: pointer;
        margin: 5px 0;
        .icon {
            font-weight: 500;
            margin-right: 8px;
        }
    }
}