.ml-show-tracking-label-option {
    .ml-icon {
        background: center;
        border: 1px solid var(--primary-color);
        border-radius: 4px;
        transition: border 500ms ease-out;
    }

    span {
        line-height: 2rem;
    }

    .ml-icon.ml-checked {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
        background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 24 24' width='24px' height='24px' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' style='fill:white' d='M7.757 11.647l0 0c0.389,-0.39 1.026,-0.39 1.415,0l1.414 1.414 4.242 -4.243c0.389,-0.389 1.025,-0.389 1.415,0l0 0c0.388,0.389 0.389,1.025 0,1.414l-4.95 4.95 0 0 0 0c-0.389,0.389 -1.026,0.389 -1.414,0l-2.122 -2.121c-0.389,-0.389 -0.389,-1.026 0,-1.414z'/> </svg>");
    }

    &:hover .ml-icon {
        border-color: var(--primary-color);
    }
}
