.bg-purple {
    background-color: var(--btn-primary) !important;
    color: white;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    width: auto;
    border-radius: 2rem;
    cursor: pointer;
}
