.filter-button{
    cursor: pointer;
}
.report-item-title{
    display: flex;
    align-items: center;   
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0.5rem 0;
    .title{
        font-size: 2rem;
    }
}
.report-filter{
    max-height: calc(100vh - 300px);
}