.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 990;
    padding: 0 36px;
    min-height: 80px;
    margin: 10px 0;
    width: 100%;
    .logo {
        color: var(--base-color);
        text-decoration: none;
        line-height: 56px;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
    }
    .btn-login {
        background: transparent;
        border-radius: 2rem;
        border: 2px solid var(--base-color);
        color: var(--base-color);
        font-weight: 500;
        text-transform: capitalize;
        &:hover {
            box-shadow: 0px 0px 10px 2px white;
        }
    }
    .mini{
        font-size: 2rem;
    }
}

.background {
    position: relative;
    background-image: url("../../../assets/image/header.png");
    background-color: #232347;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin: 0;
    min-height: 70px;
    background-position: right top;
}
