.project-item {
    margin: 0.3rem;
    padding: 10px 0px;
    border: 0.0625rem solid #a9acaa;
    border-radius: 0.5rem;
    transition: 0.2s ease;
}

.project-item:hover {
    box-shadow: 0 1px 3px 0 #cbcbca, 0 4px 8px 3px #c1c1c1;
}
