.mcg-container {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 20;

    .mcg-button {
        background: var(--primary-color);
        color: rgba($color: #fff, $alpha: 0.9);
        padding: 0.5rem 1rem;
        margin-left: 0.5rem;
    }
}
