.lwi-ic {
    .lwi-main {
        display: flex;
        align-items: center;
        margin: 0.5rem 0;

        .lwi-expander {
            flex: 0 0 24px;
            display: flex;
            justify-content: center;
        }

        .lwi-checker {
            flex: 0 0 24px;
        }

        .lwi-icon {
            margin: 2px;
        }

        .lwi-title {
            flex: 1;
            margin-left: 10px;
            font-size: 0.9375rem;
            cursor: pointer;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: initial;
        }
    }

    .lwi-children {
        margin: 0 0 0.5rem 1rem;
    }
}
