
// dropdownMenu
.dd-menu{
    position: relative;

    .dd-menu-header{
        display: flex;
        border-radius: 0.25rem;
        border: 1px solid var(--border);
        background-color: var(--form-control-bg);
        box-shadow: transparent 0 3px 5px -1px, transparent 0px 5px 8px 0px, transparent 0px 1px 10px 0px;

        &:hover{
            background-color: rgba(var(--base-color-rgb), 0.25);
        }
        &.focus{
            border-color: var(--popup-border);
        }

        &.both{
            .dd-menu-header-item:hover,
            .dd-menu-header-action:hover,
            .dd-menu-header-icon:hover{
                background-color: rgba(var(--base-color-rgb), 0.25);
            }
            &.focus{
                border-color: var(--popup-border);
                
                .dd-menu-header-item:hover{
                    cursor: default;
                    background-color: transparent;
                }
                .dd-menu-header-action, 
                .dd-menu-header-icon{
                    border-left-color: var(--popup-border);
                    background-color: var(--form-control-bg);
                }
            }
        }
        .dd-menu-header-item{
            flex-grow: 1;
            justify-content: left!important;
            border-radius: 0.25rem 0 0 0.25rem;
            background: transparent;
        }
        .dd-menu-header-action{
            width: 2.5rem;
            border-radius: 0 0.25rem 0.25rem 0;
            background: transparent;
            border-left: 1px solid var(--border);

            &:hover{ background: transparent; }
            span{ margin: 0 !important;}
        }
        
        .dd-menu-header-icon{
            width: 2.5rem;
            border-radius: 0 0.25rem 0.25rem 0;
            background: transparent;

            &:hover{ background: transparent; }
            span{ margin: 0 !important;}
        }
    }

    .dd-menu-container{
        position: absolute;
        z-index: 20;
        border-radius: 0.25rem;
        border: 1px solid var(--border-light);
        background: var(--background-color);
        padding: 0.5rem 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 5px 8px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
        
        .dd-menu-list{
            display: flex;
            flex-direction: column;
            color: var(--text-color);
            background: var(--background-color);

            .dd-menu-item{
                opacity: 1;
                justify-content: left !important;
                min-width: 160px;
                border-radius: 0 !important;
                color: var(--text-color);
                background: var(--background-color);

                &:hover{ background: var(--contrast-highlight) }
                &.active{ 
                    background: var(--contrast-light);
                    &:hover{
                        cursor: default;
                        background: var(--contrast-light);
                    }
                }
            }
        }
    }

    .w-icon i{
        width: 1.5rem;
        font-size: 1rem;
        display: flex;
        justify-content:center;
        align-items:center;
    }
}
