.event-list {
    .flash {
        background-color: var(--danger-color);
        animation: flash linear 1s infinite;
    }

    @keyframes flash {
        0% {
            opacity: 1;
        }
        50% {
            opacity: .7;
        }
        100% {
            opacity: 1;
        }
    }
}
