.fi-container {
    display: flex;
    flex-flow: row-reverse wrap;
    
    flex: 1;

    .fi-container-item {        
        display: inline-grid;
        &.fi-icon {
            padding: 0 .25rem;
        }
    }

    &.fi-form-row {
        flex-direction: row;

        .fi-form-row-control-label {
            margin-right: 0.25rem;
        }
    }
    &.fi-icon {
        padding-right: 0.5rem;
    }

    // CUSTOMIZE TAG
    .tag-container {
        &.tag-caption {
            text-overflow: ellipsis;           
            white-space: nowrap;
            overflow: hidden;
            max-width: 7rem;
        }
    }
}
