.menu-job-filter-item {

    &.expand {
        .fi-panel {
            background: var(--contrast-lighter);
            
            &:hover {
                background: var(--contrast-light);
            }
        
        }
    }

    &.active {
        color: var(--primary);
    }

    .jf-icon {
        margin-right: 0.25rem;
    }
}

.sub-menu-content {
    &.menu-vertical {
        margin: 0 !important;

        .group-item-title {
            padding: .5rem .75rem !important;
            width: auto;
        }

        .group-horizontal-content {
            .menu-job-filter-item {
                min-height: auto;
                // padding-top: .25rem;
                // padding-bottom: .25rem;
                padding-right: 1rem;

                &:hover {
                    background: var(--prim-highlight);
                }
            }
        }
    }
}