.im-upload-panel {
    .im-panel-left {
        max-width: 30rem;
        .section-top {
            .search-box {
                .search-box-input {
                    input {
                        padding: 3px 34px 3px 10px;
                        border: 1px solid var(--border);
                    }
                }
            }
            .search-box-wrapper {
                margin: 0.75rem 0 0 0.5rem;
                padding: 0;
            }
        }
        .section-bottom {
            border-top: 1px solid var(--border);

            // .panel{
            //   background-color: transparent;
            // }
            .empty-data {
                margin: 50% 0;
            }

            .import-left {
                position: relative;
                border: 1px solid var(--border);
                border-radius: 0.25rem;
                background-color: var(--contrast-light);
                margin: 0.5rem;
                width: calc(100% - 1rem);

                &:last-child {
                    margin-bottom: 0;
                }

                .toolbar-button {
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    z-index: 1;
                    .btn.btn-empty {
                        padding: 0.5rem 0.4rem;
                    }
                }
                .list-item-container {
                    border-bottom: 1px solid var(--border);
                    &.active {
                        background-color: var(--prim-highlight);
                        color: var(--text-color);
                    }
                    .list-item-title {
                      width: 15rem;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      white-space: nowrap;
                    }
                }
                .list-item-subtitle {
                    p {
                        i {
                            margin-right: 0.5rem;
                        }
                    }
                }
                .total-row {
                    span {
                        background-color: var(--contrast-lighter);
                        border-right: 1px solid var(--border);
                        padding: 0.15rem;
                        text-align: center;
                    }
                    div:nth-child(2) {
                        span {
                            &:nth-child(2) {
                                border-bottom-right-radius: 0.25rem;
                            }
                        }
                    }
                    div:nth-child(1) {
                        span {
                            &:nth-child(2) {
                                border-bottom-left-radius: 0.25rem;
                            }
                        }
                    }
                    div:last-child {
                        span {
                            border-right: none;
                        }
                    }
                }
            }
        }
    }

    .panel-footer {
        border-top: 1px solid var(--border);
        background-color: var(--panel-bg);
    }

    .tag-container {
        cursor: pointer;
    }
}
