.history-pre-value{
    text-decoration: line-through;
    color: var(--warning-color);
}

.history-label {
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    padding: 0.5rem;
    color: var(--text-color-dark);
    display: flex;
    align-items: center;
}
