
.item {
    position: relative;
    display: flex;
    transition: border-color 0.3s, background 0.3s, padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    align-items: center;

    &.disabled {
        color: gray;
        cursor: not-allowed;

        &:hover {
            color: gray !important;
            cursor: not-allowed !important;
            background: none !important;
        }
    }

    //&.active-leaf {
    //    background: rgba(var(--primary), 0.5);
    //}
    //&.active-root {
    //    color: var(--primary);
    //}

    .item-icon {
        margin-right: 1rem !important;
    }

    .item-icon-inline {
        padding: 1rem;
    }

    &.iconInfo {
        padding-right: 34px !important;

        .item-icon-info {
            position: absolute;
            right: 12px;
            width: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &.inline {
        line-height: 40px;
        border-right: 2px solid transparent;
    }

    &.horizontal {
        position: relative;
        top: 1px;
        border-bottom: 2px solid transparent;

        padding: -1px 16px 0;
    }
}
