.face-gallery-add-update {
    .fs-imageInfo-container {
        margin-bottom: 8px;
        border: 1px solid var(--border);
        padding: 8px;
        background: var(--contrast-highlight);

        .fs-imageInfo-header {
            padding: 8px;
            font-weight: 600;
        }

        .fs-imageInfo-body {
            padding: 6px;
            background: #555;
        }

        .fs-probe {
            position: relative;
            margin-right: 10px;

            .upload-image-container {
                border: 2px solid #fff;
            }

            .invalid {
                border: 2px solid var(--danger-color);
                    
                &::after {
                    opacity: .3;
                }
            }
        }

        .fs-gallery {
            flex: 1;
            overflow: hidden;

            .fs-results-image {
                align-items: flex-start;
                flex: 1 1 auto;

                .upload-image-container {
                    display: inline-block;

                    margin-right: 5px;
                    border: 2px solid #fff;
                }

                .invalid {
                    border: 2px solid var(--danger-color);
                    
                    &::after {
                        opacity: .3;
                    }
                }
            }
        }
    }

    .fs-galleryData-container {
        .remove-watch-list {
            text-align: right;
        }

        .add-watch-list {
            text-align: center;
        }
    }
}
