.ed-image-container{
    text-align: center;
    padding: 1.5rem 4.5rem 0 4.5rem;
    .ed-avatar {      
        img{
            width: 120px;
            height: 120px;
            border-radius: 50%;           
        }
    }   
}
.ed-summary {
    text-align: center;
    border-bottom: 1px solid var(--border);
    margin: 0 1rem;
    .ed-full-name {
        color: black;
        text-transform: capitalize;
        .form-control-container{
            font-size: 1.5rem;
        }        
    }
    .ed-username{
        min-height:auto;
        font-weight: 600;
        color: #798592;   
    }    
} 
.ed-email, .ed-phone, .ed-team, .ed-organization, .ed-type{
    min-height: 0.2rem;
    padding-left: 5px;
    line-height: 0.2rem;
    .form-label, .popup-label{
        font-size: 0.875rem;    
        color: #798592;    
    }
}

.assignee-info-popup{
    .popover-container{
        user-select: auto !important;
    }
}
