.profile {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    .image-outer-container {
        display: flex;
        flex-direction: row;

        .image-inter-container {
            img {
                position: relative;
                height: 180px;
                padding: 0;
                margin: 0;
                border: 15px solid transparent;
                z-index: 9999;
                -webkit-transition: all .3s ease-out;
                transition: all .3s ease-out;

            }
        }

        .fullname {
            flex: none;
            text-align: center;
            font-size: 42px;
            line-height: 42px;
            text-transform: capitalize;
            color: #444;
        }

        .username {
            flex: none;
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            color: #848484;
            background-color: #ffffff;
            border-radius: 10rem;
            padding: 5px 25px;
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 25px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .form-group {
            margin-top: 50px;
        }

        .popup-label {
            flex: none;
        }

    }

}

.emp-Info-body {
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .popup-label {
        font-weight: 600;
        font-size: 22px;
    }

    .form-label {
        color: #848484 !important;

    }

}


.lnks {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    z-index: 10;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background: -moz-radial-gradient(center, ellipse cover, #ddd 0%, rgba(255, 255, 255, 0) 70%);
        background: -webkit-radial-gradient(center, ellipse cover, #ddd 0%, rgba(255, 255, 255, 0) 70%);
        background: radial-gradient(ellipse at center, #ddd 0%, rgba(255, 255, 255, 0) 70%);
    }

    .lnk {
        position: relative;
        display: block;
        width: 100%;
        height: 70px;
        line-height: 70px;
        font-size: 14px;
        color: #323232;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        border: none;

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            height: 100%;
            background: -moz-radial-gradient(top, ellipse cover, #ddd 0%, rgba(255, 255, 255, 0) 70%);
            background: -webkit-radial-gradient(top, ellipse cover, #ddd 0%, rgba(255, 255, 255, 0) 70%);
            background: radial-gradient(ellipse at top, #ddd 0%, rgba(255, 255, 255, 0) 70%);
        }

        .text {
            transition: all .3s ease 0s;
            -moz-transition: all .3s ease 0s;
            -webkit-transition: all .3s ease 0s;
            -o-transition: all .3s ease 0s;
        }

        .ion {
            margin: 0 8px;
            position: relative;
            top: -1px;
            left: 0;
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            transition: all .3s ease 0s;
            -moz-transition: all .3s ease 0s;
            -webkit-transition: all .3s ease 0s;
            -o-transition: all .3s ease 0s;

            .ion-android-download {
                &:before {
                    content: "\f2dd";
                }
            }

            .ion-android-contact {
                &:before {
                    content: "\f2d8";
                }
            }
        }

    }


}

.emp-container {
    flex: 1;

    margin-bottom: 8px;
    padding: 8px;

    .emp-imageInfo-header {
        padding: 8px;
        font-weight: 600;
    }

    .emp-Info-body {
        padding: 6px;
        margin: 15px;

        .emp-data-content {
            flex: 1;
        }
    }

    .emp-container-center {
        text-align: center;
    }

    .icon-styles {
        margin-right: 92px;
        color: #848484 !important;
    }

    .container-left {
        padding-left: 10px;
    }
}

.emp-data-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.image-inner-container img {
    border-radius: 50%;
    border: 5px solid white;
}

.image-outer-container .green-icon {
    background-color: #4cd137;
    position: absolute;
    right: 30px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    border: 5px solid white;
    border-radius: 50%;
}

