.list-follow-item {
    padding: 1rem;
    border-bottom: 1px solid var(--border);
    margin: 0;
    display: flex;

    &:hover {
        opacity: 0.8;
        background: var(--contrast-highlight);
        cursor: pointer;
    }
}

.geofence-detail-list-follow {
    .list-follow-joined {
        padding: 0.5rem  0;
    }

    .list-follow-moving {
        .tb1 {
            padding: 0.5rem 1rem;
        }
    }
}
