.custom-html-container {
    max-width: 100%;
    display: block;
    .toolbar {
        width: 100%;
        text-align: right;
        button {
            margin: 0.5rem 0.5rem;
            &:last-child {
                margin-left: 0;
            }
        }
    }
    .code-editor {
        height: 100rem;
        border-radius: 1rem;
        border: 1px solid #cfcfcf;
        border-radius: 1rem;
        font-size: 1rem;
        font-family: "Courier New", Courier, monospace;
        padding: 1rem;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
