.filter-board{
    min-width: 100%;
    max-width: fit-content;
    .panel-header-actions{
        padding: 5px;
        button{
            &:focus{
                background-color: rgba(var(--contrast-color-rgb), 0.1);
            }
        }
    }
    .btn.btn-primary{
        padding: 0.3rem 0.70rem;
    }
    .reset-bar{
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        padding: 1rem 1rem 0rem 1rem;
        min-height: 2rem;
    }
}
.export-excel{
    float: right;
}