
.jobtype-config-popup{

    .popup-container .popup-body{
        padding-top: 0!important;
    }

    .div-status{
        position:sticky;
        z-index: 1002;
        top: 3px;
        text-align: center;
        height: 2rem;
    }       

    .config-section{

        &:first-child{
            margin-bottom: 10px;
        }

        .panel-header-switch{
            background: transparent;
            padding: 0;
            h3 { text-transform: uppercase;}
        }

        & > .section-panel-body > .panel-body{
            padding: 10px 0;
        }
        .panel-body{
            .checkbox-form{
                margin-right: auto;
            }

            .open-create.accordion{
                .accordion-item:last-child{
                    .accordion-header-actions button:first-child i:before{
                        content: '\f067' !important;
                    }
                    .accordion-header-actions button:last-child{
                        display: none;
                    }

                    &.open{
                        .accordion-header-actions button:first-child i:before{
                            content: '\f068' !important;
                        }
                    }
                }
            }
        }
    }

    // for PhotoForm Create/Edit
    .accordion-item{
        position: relative;

        .photo-form{
            .icon-unsave{
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
    }

    .photo-form {
        padding:0 0 10px 0;

        .form-control-container.dirty::after {
            z-index: 3;
        }

        .gallery-form-name{
            margin-right: 10px;
            .form-control-container.required::before {
                left: 0px;
                top: 0.6rem;
            }
            .gallery-form-name-input{
                border-width: 0 0 0.1rem 0!important;
                border-radius: 0px;
                padding-left: 1rem;
            }
        }
    }
}