.content-wrapper {
    overflow: hidden;
    cursor: pointer;
    .content {
        background-color: var(--bg-color-primary);
        padding: 15px;
        color: var(--dark-blue);
        overflow: hidden;
        line-height: 30px;
    }

    .content.inactive {
        animation: close 0.4s forwards;
        display: none;
    }
    .content.active {
        animation: open 0.2s forwards;
    }
    &:hover .content {
        background-color: var(--bg-color-primary2);
    }
}
