.collapse {
    .collapse-item {
        border: 1px solid var(--border-table);
        overflow: hidden;
        margin: 8px;
        border-radius: 1rem;
        .accordian {
            border: none;
            border-bottom: 1px solid var(--border-table);
        }
        .accordian-wrapper {
            padding: 15px;
            cursor: pointer;
            overflow: hidden;
            .icon-minus {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 1px solid var(--expand-icon);
                background-color: var(--expand-icon);
            }

            .icon-plus {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 1px solid var(--expand-icon);
            }
            .accordian-name {
                margin: 0 10px;
                .hd6 {
                    font-size: 16px;
                    text-transform: capitalize;
                    color: var(--bg-color-primary5);
                }
            }
        }
    }
}
@keyframes open {
    from {
        margin-top: -246px;
    }
    to {
        margin-top: 0px;
    }
}

@keyframes close {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -246px;
    }
}
