.admin-boundaries-container {
    position: relative;

    .action-menu {
        position: unset;

        .action-menu-container {
            position: absolute !important;
            top: 0.5rem !important;
            right: 3.5rem !important;
        }
    }
}

//sticky header admin boundaries
.admin-boundaries-container {

    .action-menu-entry:focus, .action-menu-entry:hover, .action-menu-entry.selected {
        background-color: #dadada; // fix opacity transparent backgroundColor when fill --contrast-highlight
        transition: background-color .2s;
    }

    .action-menu-entry {

        z-index: 1;
        font-weight: 500;
        background-color: white;
        padding: 0.4rem 1.5rem !important;

        .action-menu-entry-text {
            line-height: 1.2rem !important;
        }

        &:nth-child(1) {
            position: sticky;
            top: 0 !important;

            & + .action-menu-horizontal-line {
                z-index: 2;
                position: sticky;
                top: 2.01rem !important;
            }
        }

        &:nth-child(2) {
            position: sticky;
            top: 2rem !important; // top += height_action-menu-entry
            & + .action-menu-horizontal-line {
                z-index: 2;
                position: sticky;
                top: 4.01rem !important;
            }
        }

        &:nth-child(3) {
            position: sticky;
            top: 4rem !important;

            & + .action-menu-horizontal-line {
                z-index: 2;
                position: sticky;
                top: 6.01rem !important;
            }
        }

        &:nth-child(4) {
            position: sticky;
            top: 6rem !important;

            & + .action-menu-horizontal-line {
                z-index: 2;
                position: sticky;
                top: 8.01rem !important;
            }
        }

        &:nth-child(5) {
            position: sticky;
            top: 8rem !important;

            & + .action-menu-horizontal-line {
                z-index: 2;
                position: sticky;
                top: 10.01rem !important;
            }
        }
    }

    .action-menu-horizontal-line ~ .action-menu-entry {
        z-index: 0;
        position: relative !important;
        top: auto !important;
        font-weight: normal !important;
    }
}

