.md-container {
    position: relative;

    .distance-container {
        position: absolute;
        top: 0.5rem;
        right: 3.5rem;
        background-color: var(--background-color);
        color: var(--text-color);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        white-space: nowrap;
    }
}

