.assign-panel {
    .assign-section-top {
        border-bottom: 1px solid var(--border);
        .search-box {
            .search-box-input {
                input {
                    padding: 3px 34px 3px 10px;
                    border: 1px solid var(--border);
                }
            }
        }
    }
    .assign-section-bottom {
        .panel {
            background-color: transparent;
        }
        .empty-data {
            margin: 50% 0;
        }

        .assignee-item {
            position: relative;
            cursor: pointer;
            &.splitter {
                border-style: dashed;
            }

            &.active {
                background-color: var(--prim-highlight);
                color: var(--text-color);
            }
        }
    }

    .assign-section-top {
        background: var(--contrast-highlight);
        border-bottom: 1px solid var(--border);
    }
}
